In [1]:
%pylab inline
import numpy as np
import pandas as pd
data = []
datapath = '/home/bigdatas16/SGX-OrderBook-Tick-Data-Trading-Strategy-/CN_Futures_2014.01.27.csv'
data = pd.read_csv(datapath)
data_CNF14 = data[data.Series == 'CNF14']
data = data_CNF14

Populating the interactive namespace from numpy and matplotlib

In [2]:
data.head()

,Series,SequenceNumber,TimeStamp,OrderNumber,OrderBookPosition,Price,QuantityDifference,Trade,BidOrAsk,BestPrice,BestQuantity
0,CNF14,1,2014-01-27D03:16:39.693079900,C791DA0F799A5E9A,1,710000,2,,A,689500,2
1,CNF14,2,2014-01-27D03:16:39.693079900,9672009CE4FAC9FA,1,689500,2,,A,689500,2
2,CNF14,3,2014-01-27D03:16:39.693079900,671100E5D1DEB17E,2,692500,1,,A,689500,2
3,CNF14,4,2014-01-27D08:45:00.145054400,8F08E532CF2EB1AE,2,690000,20,,A,689500,2
4,CNF14,5,2014-01-27D08:45:00.353050900,298CED7A91967656,1,660000,1,,A,660000,1

In [5]:
data_CNF14 = data[data.Series == 'CNF14']
data = data_CNF14

In [3]:
import time
start = time.time()

order_book_bid = []
order_book_ask = []
timestamp = data.TimeStamp[0]
temp_ask = 0
temp_bid = 0
bid = []
ask = []
timestamp_ = []
x = data.TimeStamp.unique()
#a = range(0,len(data.TimeStamp.unique()),1000)
time_contain = []
time_book_sorting = []
timestamp_.append(x[0])
y = data[data['TimeStamp'].str.contains(x[0])]
bid.append(y[(y.BidOrAsk == 'B')][["Price","OrderNumber","QuantityDifference"]]) # bid
ask.append(y[(y.BidOrAsk == 'A')][["Price","OrderNumber","QuantityDifference"]]) # ask
a = bid[0].sort(['Price'],ascending = [False])
b = ask[0].sort(['Price'],ascending = [True])    
order_book_bid.append(a[a.QuantityDifference != 0])
order_book_ask.append(b[b.QuantityDifference != 0])

for i in range(len(y),3200,1):    
    if data.BidOrAsk[i] == 'A' :
        #print i 
        #print temp_ask
        #print x[temp_ask]
        #print data[i:i+1][['Price',"OrderNumber","QuantityDifference"]]
        #print data.TimeStamp[i] == x[temp_ask]
        #print data[i:i+1][['QuantityDifference']] > 0,int(data[['QuantityDifference']][i:i+1].values)  
        if int(data[['QuantityDifference']][i:i+1].values) > 0 :
            if data.TimeStamp[i] == x[temp_ask]:            
                #print len(order_book_ask[temp_ask][(order_book_ask[temp_ask].Price == int(data[i:i+1][['Price']].values))]) >= 1                 
                if len(order_book_ask[temp_ask][(order_book_ask[temp_ask].Price == int(data[i:i+1][['Price']].values))]) >= 1:
                
                    legth_same_price = len(order_book_ask[temp_ask][(order_book_ask[temp_ask].Price == int(data[i:i+1][['Price']].values))])
                    #print order_book_ask[temp_ask][(order_book_ask[temp_ask].Price == int(data[i:i+1][['Price']].values))].index[0]
                    #print legth_same_price
                    #print order_book_ask[temp_ask]
                    position_ = order_book_ask[temp_ask][(order_book_ask[temp_ask].Price == int(data[i:i+1][['Price']].values))].index[0] + legth_same_price + 1
                    #print position_
                    Order_Position = data[i:i+1][['OrderBookPosition']].iloc[0].values
                    #print Order_Position
                    ##print position_ == Order_Position
                    order_book_ask[temp_ask] = pd.concat([order_book_ask[temp_ask],data[i:i+1][['Price',"OrderNumber",'QuantityDifference']]])
                    order_book_ask[temp_ask] = order_book_ask[temp_ask].sort(['Price'],ascending = [True])
                else:
                    position_ = order_book_ask[temp_ask][(order_book_ask[temp_ask].Price == int(data[i:i+1][['Price']].values))].index + 1
                    #print position_
                    order_book_ask[temp_ask] = pd.concat([order_book_ask[temp_ask],data[i:i+1][['Price',"OrderNumber",'QuantityDifference']]])
                    order_book_ask[temp_ask] = order_book_ask[temp_ask].sort(['Price'],ascending = [True])
                    order_book_ask[temp_ask] = pd.DataFrame(order_book_ask[temp_ask].values,columns = ['Price',"OrderNumber",'QuantityDifference'])                
                    #print order_book_ask[temp_ask]
                    position_ = order_book_ask[temp_ask][(order_book_ask[temp_ask].Price == int(data[i:i+1][['Price']].values))].index + 1
                    Order_Position = data[i:i+1][['OrderBookPosition']].iloc[0].values
                    ##print position_ == Order_Position
                #print '\t' 
            
            elif data.TimeStamp[i] != x[temp_ask]:
                #print len(order_book_ask[temp_ask][(order_book_ask[temp_ask].Price == int(data[i:i+1][['Price']].values))]) >= 1
                
                if len(order_book_ask[temp_ask][(order_book_ask[temp_ask].Price == int(data[i:i+1][['Price']].values))]) >= 1:
                    legth_same_price = len(order_book_ask[temp_ask][(order_book_ask[temp_ask].Price == int(data[i:i+1][['Price']].values))])                
                    order_book_ask.append(0)
                    temp_ask = temp_ask + 1
                    order_book_ask[temp_ask] = pd.concat([order_book_ask[temp_ask - 1],data[i:i+1][['Price',"OrderNumber",'QuantityDifference']]])
                    order_book_ask[temp_ask] = order_book_ask[temp_ask].sort(['Price'],ascending = [True])
                    order_book_ask[temp_ask] = pd.DataFrame(order_book_ask[temp_ask].values,columns = ['Price',"OrderNumber",'QuantityDifference'])                
                    position_ = order_book_ask[temp_ask][(order_book_ask[temp_ask].Price == int(data[i:i+1][['Price']].values))].index[0] + legth_same_price + 1
                    #print position_
                    Order_Position = data[i:i+1][['OrderBookPosition']].iloc[0].values
                    #print legth_same_price
                    #print order_book_ask[temp_ask]
                    #print int(data[i:i+1][['Price']].values)
                    ##print position_ == Order_Position
                else:
                    order_book_ask.append(0)
                    temp_ask = temp_ask + 1
                    order_book_ask[temp_ask] = pd.concat([order_book_ask[temp_ask - 1],data[i:i+1][['Price',"OrderNumber",'QuantityDifference']]])
                    #print order_book_ask[temp_ask]
                    order_book_ask[temp_ask] = order_book_ask[temp_ask].sort(['Price'],ascending = [True])
                    order_book_ask[temp_ask] = pd.DataFrame(order_book_ask[temp_ask].values,columns = ['Price',"OrderNumber",'QuantityDifference'])
                    #print order_book_ask[temp_ask]
                    #print int(data[i:i+1][['Price']].values)
                    position_ = order_book_ask[temp_ask][(order_book_ask[temp_ask].Price == int(data[i:i+1][['Price']].values))].index + 1
                    ##print position_ == data[i:i+1][['OrderBookPosition']].iloc[0]                                       

                order_book_ask[temp_ask] = order_book_ask[temp_ask].sort(['Price'],ascending = [True])
                #print '\t'                                          
                 
        elif int(data[['QuantityDifference']][i:i+1].values) < 0:
            Price_ =  int(data[['Price']][i:i+1].values)
            Order_Number_ = data[['OrderNumber']][i:i+1].iloc[0] 
            position_ = int(data[['OrderBookPosition']][i:i+1].values)
            index_ = order_book_ask[temp_ask][(order_book_ask[temp_ask].Price == Price_)].index + 1
            #if len(index_[index_ == position_]) == 1:
            #    print [True]
                
            #print index_
            #print position_
            #print Order_Number_ 
            #print order_book_ask[temp_ask]
            
            drop_values_ = pd.concat([order_book_ask[temp_ask],data[i:i+1][['Price',"OrderNumber",'QuantityDifference']]])
            
            order_book_ask[temp_ask] = drop_values_[['Price',"OrderNumber",'QuantityDifference']].groupby(by = ['Price','OrderNumber'],as_index = False)['QuantityDifference'].sum()
            #print order_book_ask[temp_ask]
            order_book_ask[temp_ask] = order_book_ask[temp_ask][order_book_ask[temp_ask].QuantityDifference != 0]
            order_book_ask[temp_ask] = pd.DataFrame(order_book_ask[temp_ask].values,columns = ['Price',"OrderNumber",'QuantityDifference'])
            #print order_book_ask[temp_ask]
            #print '\t' 

    elif data.BidOrAsk[i] == 'B' :
        #print i 
        #print temp_ask
        #print x[temp_ask]
        #print data[i:i+1][['Price',"OrderNumber","QuantityDifference"]]
        #print data.TimeStamp[i] == x[temp_ask]
        #print data[i:i+1][['QuantityDifference']] > 0,int(data[['QuantityDifference']][i:i+1].values)
        
        if int(data[['QuantityDifference']][i:i+1].values) > 0 :
            if data.TimeStamp[i] == x[temp_bid]:            
                #print len(order_book_bid[temp_bid][(order_book_bid[temp_bid].Price == int(data[i:i+1][['Price']].values))]) >= 1                 
                if len(order_book_bid[temp_bid][(order_book_bid[temp_bid].Price == int(data[i:i+1][['Price']].values))]) >= 1:
                
                    legth_same_price = len(order_book_bid[temp_bid][(order_book_ask[temp_bid].Price == int(data[i:i+1][['Price']].values))])
                    #print order_book_bid[temp_bid][(order_book_ask[temp_bid].Price == int(data[i:i+1][['Price']].values))].index[0]
                    #print legth_same_price
                    #print order_book_bid[temp_bid]
                    position_ = order_book_bid[temp_bid][(order_book_bid[temp_bid].Price == int(data[i:i+1][['Price']].values))].index[0] + legth_same_price + 1
                    #print position_
                    Order_Position = data[i:i+1][['OrderBookPosition']].iloc[0].values
                    #print Order_Position
                    ##print position_ == Order_Position
                    order_book_bid[temp_bid] = pd.concat([order_book_bid[temp_bid],data[i:i+1][['Price',"OrderNumber",'QuantityDifference']]])
                    order_book_bid[temp_bid] = order_book_bid[temp_bid].sort(['Price'],ascending = [False])
                else:
                    position_ = order_book_bid[temp_bid][(order_book_bid[temp_bid].Price == int(data[i:i+1][['Price']].values))].index + 1
                    #print position_
                    order_book_bid[temp_bid] = pd.concat([order_book_bid[temp_bid],data[i:i+1][['Price',"OrderNumber",'QuantityDifference']]])
                    order_book_bid[temp_bid] = order_book_bid[temp_bid].sort(['Price'],ascending = [False])
                    order_book_bid[temp_bid] = pd.DataFrame(order_book_bid[temp_bid].values,columns = ['Price',"OrderNumber",'QuantityDifference'])                
                    #print order_book_bid[temp_bid]
                    position_ = order_book_bid[temp_bid][(order_book_bid[temp_bid].Price == int(data[i:i+1][['Price']].values))].index + 1
                    Order_Position = data[i:i+1][['OrderBookPosition']].iloc[0].values
                    ##print position_ == Order_Position
                #print '\t' 
            
            elif data.TimeStamp[i] != x[temp_bid]:
                #print len(order_book_bid[temp_bid][(order_book_bid[temp_bid].Price == int(data[i:i+1][['Price']].values))]) >= 1
                
                if len(order_book_bid[temp_bid][(order_book_bid[temp_bid].Price == int(data[i:i+1][['Price']].values))]) >= 1:
                    legth_same_price = len(order_book_bid[temp_bid][(order_book_bid[temp_bid].Price == int(data[i:i+1][['Price']].values))])                
                    order_book_bid.append(0)
                    temp_bid = temp_bid + 1
                    order_book_bid[temp_bid] = pd.concat([order_book_bid[temp_bid - 1],data[i:i+1][['Price',"OrderNumber",'QuantityDifference']]])
                    order_book_bid[temp_bid] = order_book_bid[temp_bid].sort(['Price'],ascending = [False])
                    order_book_bid[temp_bid] = pd.DataFrame(order_book_bid[temp_bid].values,columns = ['Price',"OrderNumber",'QuantityDifference'])                
                    position_ = order_book_bid[temp_bid][(order_book_bid[temp_bid].Price == int(data[i:i+1][['Price']].values))].index[0] + legth_same_price + 1
                    #print position_
                    Order_Position = data[i:i+1][['OrderBookPosition']].iloc[0].values
                    #print legth_same_price
                    #print order_book_ask[temp_ask]
                    #print int(data[i:i+1][['Price']].values)
                    ##print position_ == Order_Position
                else:
                    order_book_bid.append(0)
                    temp_bid = temp_bid + 1
                    order_book_bid[temp_bid] = pd.concat([order_book_bid[temp_bid - 1],data[i:i+1][['Price',"OrderNumber",'QuantityDifference']]])
                    #print order_book_bid[temp_bid]
                    order_book_bid[temp_bid] = order_book_bid[temp_bid].sort(['Price'],ascending = [False])
                    order_book_bid[temp_bid] = pd.DataFrame(order_book_bid[temp_bid].values,columns = ['Price',"OrderNumber",'QuantityDifference'])
                    #print order_book_bid[temp_bid]
                    #print int(data[i:i+1][['Price']].values)
                    position_ = order_book_bid[temp_bid][(order_book_bid[temp_bid].Price == int(data[i:i+1][['Price']].values))].index + 1
                    ##print position_ == data[i:i+1][['OrderBookPosition']].iloc[0]                                       

                order_book_bid[temp_bid] = order_book_bid[temp_bid].sort(['Price'],ascending = [False])
                #print '\t'                                          
                 
        elif int(data[['QuantityDifference']][i:i+1].values) < 0:
            Price_ =  int(data[['Price']][i:i+1].values)
            Order_Number_ = data[['OrderNumber']][i:i+1].iloc[0] 
            position_ = int(data[['OrderBookPosition']][i:i+1].values)
            index_ = order_book_bid[temp_bid][(order_book_bid[temp_bid].Price == Price_)].index + 1
            #if len(index_[index_ == position_]) == 1:
            #    print [True]
                
            #print index_
            #print position_
            #print Order_Number_ 
            #print order_book_ask[temp_ask]
            
            drop_values_ = pd.concat([order_book_bid[temp_bid],data[i:i+1][['Price',"OrderNumber",'QuantityDifference']]])
            
            order_book_bid[temp_bid] = drop_values_[['Price',"OrderNumber",'QuantityDifference']].groupby(by = ['Price','OrderNumber'],as_index = False)['QuantityDifference'].sum()
            #print order_book_bid[temp_bid]
            order_book_bid[temp_bid] = order_book_bid[temp_bid][order_book_bid[temp_bid].QuantityDifference != 0]
            order_book_bid[temp_bid] = pd.DataFrame(order_book_bid[temp_bid].values,columns = ['Price',"OrderNumber",'QuantityDifference'])
            #print order_book_bid[temp_bid]
            #print '\t'             
end = time.time()            
print "Total time = %f"%(end - start)

/home/bigdatas16/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:20: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/bigdatas16/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:21: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/bigdatas16/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:83: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/bigdatas16/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:90: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/bigdatas16/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:69: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/bigdatas16/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:53: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/bigdatas16/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:173: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/bigdatas16/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:180: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/bigdatas16/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:159: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

Total time = 99.684013

In [4]:
import time
start = time.time()
order_book_bid_merge = []
order_book_ask_merge = []
for i in range(0,len(order_book_bid)):
    a = order_book_bid[i][['Price','QuantityDifference']].groupby(by = ['Price'],as_index = False).sum().sort(['Price'],ascending = [False])
    order_book_bid_merge.append(pd.DataFrame(a.values))
for i in range(0,len(order_book_ask)):
    a = order_book_ask[i][['Price','QuantityDifference']].groupby(by = ['Price'],as_index = False).sum()#.sort(['Price'],ascending = [True])
    order_book_ask_merge.append(pd.DataFrame(a.values))
end = time.time()            
print "Total time = %f"%(end - start)

/home/bigdatas16/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

Total time = 25.137781

In [6]:
order_book_ask_merge[100]

         0     1
0   672000    93
1   673000    50
2   673500   140
3   674000   330
4   674500  1035
5   675000    21
6   675500    80
7   676000   120
8   676500    70
9   677000   276
10  677500   120
11  678000   185
12  678500   205
13  679000   330
14  682000    10
15  682500     1
16  683000    65
17  683500    65
18  684000   135
19  684500   130
20  685000   197
21  688500     5
22  689000     1
23  689500     3
24  690000    23
25  691000    20
26  697000    27
27  698500    10
28  699000     1
29  699500    15
30  700000     2
31  704500     1
32  708500    20
33  710000     2
34  718500    20
35  725000     4

In [7]:
order_book_bid_merge[100]

         0    1
0   672000  144
1   671500  116
2   671000   79
3   670500  104
4   670000   91
5   669500  141
6   669000   61
7   668500   31
8   668000  206
9   667500    1
10  667000    1
11  666500    1
12  666000    1
13  665500  201
14  665000    6
15  664500    1
16  664000    1
17  663500  203
18  663000    1
19  662500    5
20  662000    1
21  661500    1
22  661000   51
23  660500    1
24  660000    1
25  656000    1
26  655000   47
27  653500    5
28  653000   92
29  652500   99
30  651500   82
31  651000   87
32  641500   10
33  632500   10
34  631500   10