In [5]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [6]:
import sklearn
import numpy as np
import pandas as pd

In [7]:
data = []
datapath = '/home/rory/SGX-OrderBook-Tick-Data-Trading-Strategy-/order_Book.csv'
data = pd.read_csv(datapath)

In [120]:
data.head()

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
0,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,1,1,5,0,30,72D0F3B75B454045,988500,5,1,1041500,1
1,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,2,1,266,0,30,C8946636EB1CCE9C,1142000,266,2,1115000,3
2,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,3,2,1,0,30,DC6ADEBB6E535353,979000,1,1,1041500,1
3,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,4,3,2,0,30,4005CE3E43912211,950000,2,1,1041500,1
4,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,5,1,1,0,30,FE457FBF87856C85,1041500,1,1,1041500,1

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14396 entries, 0 to 14395
Data columns (total 14 columns):
date                   14396 non-null object
series                 14396 non-null object
timestamp              14396 non-null object
sequence_number        14396 non-null int64
ob_position            14396 non-null int64
quantity_difference    14396 non-null int64
ob_command             14396 non-null int64
change_reason          14396 non-null int64
order_number           14396 non-null object
price                  14396 non-null int64
mp_quantity            14396 non-null int64
bid_or_ask             14396 non-null int64
bestprice              14396 non-null int64
bestsize               14396 non-null int64
dtypes: int64(10), object(4)
memory usage: 1.5+ MB

In [119]:
data.head()

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
0,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,1,1,5,0,30,72D0F3B75B454045,988500,5,1,1041500,1
1,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,2,1,266,0,30,C8946636EB1CCE9C,1142000,266,2,1115000,3
2,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,3,2,1,0,30,DC6ADEBB6E535353,979000,1,1,1041500,1
3,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,4,3,2,0,30,4005CE3E43912211,950000,2,1,1041500,1
4,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,5,1,1,0,30,FE457FBF87856C85,1041500,1,1,1041500,1

In [11]:
data['timestamp'][42]

'2015-07-31D08:45:00.111523900'

In [12]:
data1 = data.values

In [13]:
data1[44:46]

array([['2015/7/31', 'CNQ15', '2015-07-31D08:45:00.111523900', 45, 1, 1, 0,
        8, '70E05AE71BEA00EA', 1043500, 1, 1, 1043500, 1],
       ['2015/7/31', 'CNQ15', '2015-07-31D08:45:00.112523900', 46, 1, -1,
        1, 8, 'CC98E32ADCBBB95B', 0, 0, 2, 1043500, 1]], dtype=object)

In [14]:
data1[42]

array(['2015/7/31', 'CNQ15', '2015-07-31D08:45:00.111523900', 43, 1, 1, 0,
       6, 'CC98E32ADCBBB95B', 0, 1, 2, 1043500, 1], dtype=object)

In [15]:
type(data1[42][2])

str

In [16]:
data1[42][2][20:29] #== '8:45:00'

'111523900'

In [17]:
int(data1[42][2][20:29])

111523900

In [18]:
int(data1[45][2][20:29]),int(data1[45][2][20:29]) > int(data1[42][2][20:29])

(112523900, True)

In [19]:
unique(data[['change_reason']])

array([ 1,  3,  5,  6,  8, 12, 30])

In [20]:
len(data[data['change_reason'] == 3]) # change_reason = traded

1448

In [21]:
len(data[data['change_reason'] == 12])

2

In [22]:
data_bid = data.loc[lambda a:a.bid_or_ask == 1,:]
data_ask = data.loc[lambda a:a.bid_or_ask == 2,:]

Bid

In [23]:
#data_bid[data_bid['change_reason'] == 3]
len(data_bid[data_bid['change_reason'] == 3]) # change_reason = traded

790

In [24]:
len(data_bid[data_bid['change_reason'] == 8]) # change_reason =

560

In [25]:
len(data_bid[data_bid['change_reason'] == 1]) #change_reason = Delected

1719

In [26]:
len(data_bid[data_bid['change_reason'] == 5]) #change_reason = Amended

978

In [27]:
len(data_bid[data_bid['change_reason'] == 6]) #change_reason = added or activated

3654

In [28]:
len(data_bid[data_bid['change_reason'] == 19]) #change_reason = Good-for-Day Orders Delected

0

In [29]:
len(data_bid[data_bid['change_reason'] == 30]) #change_reason = Good-To-Cancel Orders Reloaded

29

In [30]:
len(data_bid[data_bid['ob_command'] == 2])

279

Ask

In [31]:
len(data_ask[data_ask['change_reason'] == 3]) # change_reason = traded

658

In [32]:
len(data_ask[data_ask['change_reason'] == 1]) #change_reason = Delected

1527

In [33]:
len(data_ask[data_ask['change_reason'] == 5]) #change_reason = Amended

338

In [34]:
len(data_ask[data_ask['change_reason'] == 6]) #change_reason = added or activated

2689

In [35]:
len(data_ask[data_ask['change_reason'] == 8]) #change_reason =

1439

In [36]:
len(data_ask[data_ask['change_reason'] == 19]) #change_reason = Good-for-Day Orders Delected

0

In [37]:
len(data_ask[data_ask['change_reason'] == 30]) #change_reason = Good-To-Cancel Orders Reloaded

13

In [38]:
len(data_ask[data_ask['ob_command'] == 2])

202

In [39]:
data_bid.head(60)

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
0,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,1,1,5,0,30,72D0F3B75B454045,988500,5,1,1041500,1
2,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,3,2,1,0,30,DC6ADEBB6E535353,979000,1,1,1041500,1
3,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,4,3,2,0,30,4005CE3E43912211,950000,2,1,1041500,1
4,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,5,1,1,0,30,FE457FBF87856C85,1041500,1,1,1041500,1
5,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,6,2,2,0,30,E33BA3AF1965F906,1008000,2,1,1041500,1
6,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,7,5,1,0,30,54F252BB0DE2F2E3,969250,1,1,1041500,1
7,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,8,7,1,0,30,D472DABB94327932,949000,1,1,1041500,1
8,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,9,8,1,0,30,54FADAB3464C2B4C,948750,1,1,1041500,1
9,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,10,2,1,0,30,4D602BF798E67886,1020000,1,1,1041500,1
13,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,14,5,5,0,30,6AD3CB22C767AAC7,981750,5,1,1041500,1
14,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,15,10,1,0,30,54F25AB3D5A1BAA1,948750,1,1,1041500,1
15,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,16,3,2,0,30,EBABAFAF23740314,1010000,2,1,1041500,1
17,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,18,2,1,0,30,722AF2AF74DE59DE,1035500,1,1,1041500,1
18,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,19,6,1,0,30,7282FFEF7F4C640C,1000000,1,1,1041500,1
19,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,20,7,1,0,30,52A156BF98DA7DDA,998500,1,1,1041500,1
20,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,21,7,1,0,30,DA29D2BFA32B882B,999500,1,1,1041500,1
22,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,23,3,1,0,30,76E6F6F3B9D69ED6,1030000,1,1,1041500,1
24,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,25,6,2,0,30,E33BA3A718D0F871,1008000,2,1,1041500,1
25,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,26,5,2,0,30,E3232FA7E50CC4AC,1010000,2,1,1045750,1
26,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,27,9,75,0,30,A0183DD3BD8EA28E,1000000,75,1,1045750,1
27,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,28,12,1,0,30,DAA1DABF71EE56EE,999000,1,1,1045750,1
28,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,29,1,1,0,30,70E05AE71BEA00EA,1045750,1,1,1045750,1
29,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,30,20,1,0,30,DCFA52B340A425A4,949500,1,1,1045750,1
30,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,31,15,1,0,30,D2A9D6BFB0349534,998500,1,1,1045750,1
31,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,32,6,2,0,30,633327AFA5A08540,1015000,2,1,1045750,1
34,2015/7/31,CNQ15,2015-07-31D04:27:49.006487100,35,13,1,0,30,54EADEB3C576AA76,999500,1,1,1045750,1
35,2015/7/31,CNQ15,2015-07-31D04:27:49.009487100,36,7,2,0,30,633B27AFE323C2C3,1015000,2,1,1045750,1
40,2015/7/31,CNQ15,2015-07-31D04:27:49.009487100,41,25,1,0,30,5C72D2BBCEEBB3EB,949000,1,1,1045750,1
41,2015/7/31,CNQ15,2015-07-31D04:27:49.009487100,42,16,1,0,30,D221DABF510C360C,999500,1,1,1045750,1
43,2015/7/31,CNQ15,2015-07-31D08:45:00.111523900,44,1,-1,1,8,70E05AE71BEA00EA,1045750,0,1,1043500,1
44,2015/7/31,CNQ15,2015-07-31D08:45:00.111523900,45,1,1,0,8,70E05AE71BEA00EA,1043500,1,1,1043500,1
47,2015/7/31,CNQ15,2015-07-31D08:45:00.112523900,48,5,1,0,6,EA88632A112CF44D,1027250,1,1,1043500,1
48,2015/7/31,CNQ15,2015-07-31D08:45:00.140523900,49,4,1,0,6,621762763E392279,1034250,1,1,1043500,1
50,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,51,1,-1,1,8,70E05AE71BEA00EA,1043500,0,1,1038500,2
51,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,52,1,1,0,8,70E05AE71BEA00EA,1038500,1,1,1038500,2
52,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,53,2,-1,1,8,FE457FBF87856C85,1041500,0,1,1038500,2
53,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,54,2,1,0,8,FE457FBF87856C85,1038500,1,1,1038500,2
59,2015/7/31,CNQ15,2015-07-31D08:45:00.155523900,60,23,1,0,6,EA00E32297197A39,987500,1,1,1038500,2
61,2015/7/31,CNQ15,2015-07-31D08:45:00.161523900,62,10,228,0,6,56FBF2BFF559DA59,1013000,228,1,1038500,2
65,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,66,1,1,0,6,6A08E322D4EFB80F,1038500,1,1,1043500,2
66,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,67,1,-1,1,8,6A08E322D4EFB80F,1038500,0,1,1043500,2
67,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,68,1,1,0,6,6A08E322D4EFB80F,1043500,1,1,1043500,2
68,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,69,2,-1,1,8,70E05AE71BEA00EA,1038500,0,1,1043500,2
69,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,70,2,1,0,8,70E05AE71BEA00EA,1043500,1,1,1043500,2
70,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,71,3,-1,1,8,FE457FBF87856C85,1038500,0,1,1043500,2
71,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,72,3,1,0,8,FE457FBF87856C85,1041500,1,1,1043500,2
78,2015/7/31,CNQ15,2015-07-31D08:45:00.171523900,79,4,1,0,6,621F62768E5B729B,1041250,1,1,1043500,2
79,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,80,1,1,0,6,EA08E322DAD0BDF0,1043500,1,1,1047000,2
80,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,81,1,-1,1,8,EA08E322DAD0BDF0,1043500,0,1,1047000,2
81,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,82,1,1,0,6,EA08E322DAD0BDF0,1047000,1,1,1047000,2
82,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,83,2,-1,1,8,6A08E322D4EFB80F,1043500,0,1,1047000,2
83,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,84,2,1,0,8,6A08E322D4EFB80F,1047000,1,1,1047000,2
84,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,85,3,-1,1,8,70E05AE71BEA00EA,1043500,0,1,1047000,2
85,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,86,3,1,0,8,70E05AE71BEA00EA,1045750,1,1,1047000,2
90,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,91,1,3,0,6,629F6276A44F888F,1047000,3,1,1057500,3
91,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,92,1,-3,1,8,629F6276A44F888F,1047000,0,1,1057500,3
92,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,93,1,3,0,6,629F6276A44F888F,1057500,3,1,1057500,3
93,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,94,2,-1,1,8,EA08E322DAD0BDF0,1047000,0,1,1057500,3
94,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,95,2,1,0,8,EA08E322DAD0BDF0,1055250,1,1,1057500,3
95,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,96,3,-1,1,8,6A08E322D4EFB80F,1047000,0,1,1057500,3

In [40]:
data_bid.loc[lambda a:a. change_reason == 3,:].head() # traded => quantity_difference < 0

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
2667,2015/7/31,CNQ15,2015-07-31D09:00:00.053441500,2668,1,-1,2,3,E0CCC63E0638E539,1062750,9,1,1062750,1
2669,2015/7/31,CNQ15,2015-07-31D09:00:00.053441500,2670,1,-1,2,3,E0CCC63E0638E539,1062750,8,1,1062750,1
2671,2015/7/31,CNQ15,2015-07-31D09:00:00.053441500,2672,1,-1,2,3,E0CCC63E0638E539,1062750,7,1,1062750,1
2673,2015/7/31,CNQ15,2015-07-31D09:00:00.053441500,2674,1,-1,2,3,E0CCC63E0638E539,1062750,6,1,1062750,1
2675,2015/7/31,CNQ15,2015-07-31D09:00:00.054441500,2676,1,-1,2,3,E0CCC63E0638E539,1062750,5,1,1062750,1

In [41]:
data_bid.loc[lambda a:a. change_reason == 1,:].head() # Deleted => quantity_difference < 0

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
1373,2015/7/31,CNQ15,2015-07-31D08:45:44.542127900,1374,9,-1,1,1,D2537FFF43832843,1052500,0,1,1055000,37
1389,2015/7/31,CNQ15,2015-07-31D08:46:42.940605900,1390,7,-1,1,1,CA40627E418F22CF,1055000,0,1,1055000,37
1393,2015/7/31,CNQ15,2015-07-31D08:47:15.203308900,1394,4,-1,1,1,4ACF627E548538C5,1055000,0,1,1055000,36
1405,2015/7/31,CNQ15,2015-07-31D08:48:30.554633900,1406,16,-1,1,1,D478D2ABDE4BC0CB,1050000,0,1,1055000,37
1416,2015/7/31,CNQ15,2015-07-31D08:49:24.742147900,1417,16,-1,1,1,4898CA7651AE30AE,1050000,0,1,1055000,38

In [42]:
data_bid[(data_bid.change_reason == 5) & (data_bid.quantity_difference > 0)]

Empty DataFrame
Columns: [date, series, timestamp, sequence_number, ob_position, quantity_difference, ob_command, change_reason, order_number, price, mp_quantity, bid_or_ask, bestprice, bestsize]
Index: []

In [43]:
data_bid[(data_bid.change_reason == 8) & (data_bid.quantity_difference < 0)]

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
43,2015/7/31,CNQ15,2015-07-31D08:45:00.111523900,44,1,-1,1,8,70E05AE71BEA00EA,1045750,0,1,1043500,1
50,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,51,1,-1,1,8,70E05AE71BEA00EA,1043500,0,1,1038500,2
52,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,53,2,-1,1,8,FE457FBF87856C85,1041500,0,1,1038500,2
66,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,67,1,-1,1,8,6A08E322D4EFB80F,1038500,0,1,1043500,2
68,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,69,2,-1,1,8,70E05AE71BEA00EA,1038500,0,1,1043500,2
70,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,71,3,-1,1,8,FE457FBF87856C85,1038500,0,1,1043500,2
80,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,81,1,-1,1,8,EA08E322DAD0BDF0,1043500,0,1,1047000,2
82,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,83,2,-1,1,8,6A08E322D4EFB80F,1043500,0,1,1047000,2
84,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,85,3,-1,1,8,70E05AE71BEA00EA,1043500,0,1,1047000,2
91,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,92,1,-3,1,8,629F6276A44F888F,1047000,0,1,1057500,3
93,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,94,2,-1,1,8,EA08E322DAD0BDF0,1047000,0,1,1057500,3
95,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,96,3,-1,1,8,6A08E322D4EFB80F,1047000,0,1,1057500,3
106,2015/7/31,CNQ15,2015-07-31D08:45:00.181523900,107,1,-3,1,8,629F6276A44F888F,1057500,0,1,1056250,3
133,2015/7/31,CNQ15,2015-07-31D08:45:00.249523900,134,1,-3,1,8,629F6276A44F888F,1056250,0,1,1051750,4
135,2015/7/31,CNQ15,2015-07-31D08:45:00.249523900,136,2,-1,1,8,EA08E322DAD0BDF0,1055250,0,1,1051750,4
146,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,147,1,-3,1,8,629F6276A44F888F,1051750,0,1,1047750,5
148,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,149,2,-1,1,8,EA08E322DAD0BDF0,1051750,0,1,1047750,5
150,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,151,3,-1,1,8,6A08E322D4EFB80F,1048250,0,1,1047750,5
163,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,164,1,-3,1,8,629F6276A44F888F,1047750,0,1,1046500,6
165,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,166,2,-1,1,8,EA08E322DAD0BDF0,1047750,0,1,1046500,6
167,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,168,3,-1,1,8,6A08E322D4EFB80F,1047750,0,1,1046500,6
169,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,170,4,-1,1,8,E2006B22EF0AD22A,1047500,0,1,1046500,6
185,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,186,1,-3,1,8,629F6276A44F888F,1046500,0,1,1044250,7
187,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,188,2,-1,1,8,EA08E322DAD0BDF0,1046500,0,1,1044250,7
189,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,190,3,-1,1,8,6A08E322D4EFB80F,1046500,0,1,1044250,7
191,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,192,4,-1,1,8,E2006B22EF0AD22A,1046500,0,1,1044250,7
193,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,194,5,-1,1,8,70E05AE71BEA00EA,1045750,0,1,1044250,7
210,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,211,1,-3,1,8,629F6276A44F888F,1044250,0,1,1042250,8
212,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,213,2,-1,1,8,EA08E322DAD0BDF0,1044250,0,1,1042250,8
214,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,215,3,-1,1,8,6A08E322D4EFB80F,1044250,0,1,1042250,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2143,1,-10,1,8,E0CCC63E0638E539,1064500,0,1,1064000,164
2144,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2145,2,-141,1,8,CAD8E276F1B5D2F5,1064500,0,1,1064000,164
2146,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2147,3,-1,1,8,4448677231EE154E,1064500,0,1,1064000,164
2148,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2149,4,-1,1,8,E217E67EF6ACDAEC,1064500,0,1,1064000,164
2150,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2151,5,-5,1,8,E483EA66F071CFB1,1064500,0,1,1064000,164
2152,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2153,6,-6,1,8,F2A776BF965F7B5F,1064500,0,1,1064000,164
2241,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2242,1,-10,1,8,E0CCC63E0638E539,1064000,0,1,1063500,164
2243,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2244,2,-141,1,8,CAD8E276F1B5D2F5,1064000,0,1,1063500,164
2245,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2246,3,-1,1,8,4448677231EE154E,1064000,0,1,1063500,164
2247,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2248,4,-1,1,8,E217E67EF6ACDAEC,1064000,0,1,1063500,164
2249,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2250,5,-5,1,8,E483EA66F071CFB1,1064000,0,1,1063500,164
2251,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2252,6,-6,1,8,F2A776BF965F7B5F,1064000,0,1,1063500,164
2346,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2347,1,-10,1,8,E0CCC63E0638E539,1063500,0,1,1063250,164
2348,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2349,2,-141,1,8,CAD8E276F1B5D2F5,1063500,0,1,1063250,164
2350,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2351,3,-1,1,8,4448677231EE154E,1063500,0,1,1063250,164
2352,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2353,4,-1,1,8,E217E67EF6ACDAEC,1063500,0,1,1063250,164
2354,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2355,5,-5,1,8,E483EA66F071CFB1,1063500,0,1,1063250,164
2356,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2357,6,-6,1,8,F2A776BF965F7B5F,1063500,0,1,1063250,164
2452,2015/7/31,CNQ15,2015-07-31D08:59:59.860441500,2453,1,-10,1,8,E0CCC63E0638E539,1063250,0,1,1063000,164
2454,2015/7/31,CNQ15,2015-07-31D08:59:59.860441500,2455,2,-141,1,8,CAD8E276F1B5D2F5,1063250,0,1,1063000,164
2456,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2457,3,-1,1,8,4448677231EE154E,1063250,0,1,1063000,164
2458,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2459,4,-1,1,8,E217E67EF6ACDAEC,1063250,0,1,1063000,164
2460,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2461,5,-5,1,8,E483EA66F071CFB1,1063250,0,1,1063000,164
2462,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2463,6,-6,1,8,F2A776BF965F7B5F,1063250,0,1,1063000,164
2559,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2560,1,-10,1,8,E0CCC63E0638E539,1063000,0,1,1062750,170
2561,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2562,2,-141,1,8,CAD8E276F1B5D2F5,1063000,0,1,1062750,170
2563,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2564,3,-1,1,8,4448677231EE154E,1063000,0,1,1062750,170
2565,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2566,4,-1,1,8,E217E67EF6ACDAEC,1063000,0,1,1062750,170
2567,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2568,5,-5,1,8,E483EA66F071CFB1,1063000,0,1,1062750,170
2569,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2570,6,-6,1,8,F2A776BF965F7B5F,1063000,0,1,1062750,170

In [44]:
data_bid[(data_bid.change_reason == 8) & (data_bid.quantity_difference < 0)]

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
43,2015/7/31,CNQ15,2015-07-31D08:45:00.111523900,44,1,-1,1,8,70E05AE71BEA00EA,1045750,0,1,1043500,1
50,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,51,1,-1,1,8,70E05AE71BEA00EA,1043500,0,1,1038500,2
52,2015/7/31,CNQ15,2015-07-31D08:45:00.146523900,53,2,-1,1,8,FE457FBF87856C85,1041500,0,1,1038500,2
66,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,67,1,-1,1,8,6A08E322D4EFB80F,1038500,0,1,1043500,2
68,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,69,2,-1,1,8,70E05AE71BEA00EA,1038500,0,1,1043500,2
70,2015/7/31,CNQ15,2015-07-31D08:45:00.168523900,71,3,-1,1,8,FE457FBF87856C85,1038500,0,1,1043500,2
80,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,81,1,-1,1,8,EA08E322DAD0BDF0,1043500,0,1,1047000,2
82,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,83,2,-1,1,8,6A08E322D4EFB80F,1043500,0,1,1047000,2
84,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,85,3,-1,1,8,70E05AE71BEA00EA,1043500,0,1,1047000,2
91,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,92,1,-3,1,8,629F6276A44F888F,1047000,0,1,1057500,3
93,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,94,2,-1,1,8,EA08E322DAD0BDF0,1047000,0,1,1057500,3
95,2015/7/31,CNQ15,2015-07-31D08:45:00.173523900,96,3,-1,1,8,6A08E322D4EFB80F,1047000,0,1,1057500,3
106,2015/7/31,CNQ15,2015-07-31D08:45:00.181523900,107,1,-3,1,8,629F6276A44F888F,1057500,0,1,1056250,3
133,2015/7/31,CNQ15,2015-07-31D08:45:00.249523900,134,1,-3,1,8,629F6276A44F888F,1056250,0,1,1051750,4
135,2015/7/31,CNQ15,2015-07-31D08:45:00.249523900,136,2,-1,1,8,EA08E322DAD0BDF0,1055250,0,1,1051750,4
146,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,147,1,-3,1,8,629F6276A44F888F,1051750,0,1,1047750,5
148,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,149,2,-1,1,8,EA08E322DAD0BDF0,1051750,0,1,1047750,5
150,2015/7/31,CNQ15,2015-07-31D08:45:00.284523900,151,3,-1,1,8,6A08E322D4EFB80F,1048250,0,1,1047750,5
163,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,164,1,-3,1,8,629F6276A44F888F,1047750,0,1,1046500,6
165,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,166,2,-1,1,8,EA08E322DAD0BDF0,1047750,0,1,1046500,6
167,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,168,3,-1,1,8,6A08E322D4EFB80F,1047750,0,1,1046500,6
169,2015/7/31,CNQ15,2015-07-31D08:45:00.319523900,170,4,-1,1,8,E2006B22EF0AD22A,1047500,0,1,1046500,6
185,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,186,1,-3,1,8,629F6276A44F888F,1046500,0,1,1044250,7
187,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,188,2,-1,1,8,EA08E322DAD0BDF0,1046500,0,1,1044250,7
189,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,190,3,-1,1,8,6A08E322D4EFB80F,1046500,0,1,1044250,7
191,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,192,4,-1,1,8,E2006B22EF0AD22A,1046500,0,1,1044250,7
193,2015/7/31,CNQ15,2015-07-31D08:45:00.387523900,194,5,-1,1,8,70E05AE71BEA00EA,1045750,0,1,1044250,7
210,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,211,1,-3,1,8,629F6276A44F888F,1044250,0,1,1042250,8
212,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,213,2,-1,1,8,EA08E322DAD0BDF0,1044250,0,1,1042250,8
214,2015/7/31,CNQ15,2015-07-31D08:45:00.422523900,215,3,-1,1,8,6A08E322D4EFB80F,1044250,0,1,1042250,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2143,1,-10,1,8,E0CCC63E0638E539,1064500,0,1,1064000,164
2144,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2145,2,-141,1,8,CAD8E276F1B5D2F5,1064500,0,1,1064000,164
2146,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2147,3,-1,1,8,4448677231EE154E,1064500,0,1,1064000,164
2148,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2149,4,-1,1,8,E217E67EF6ACDAEC,1064500,0,1,1064000,164
2150,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2151,5,-5,1,8,E483EA66F071CFB1,1064500,0,1,1064000,164
2152,2015/7/31,CNQ15,2015-07-31D08:59:57.157468500,2153,6,-6,1,8,F2A776BF965F7B5F,1064500,0,1,1064000,164
2241,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2242,1,-10,1,8,E0CCC63E0638E539,1064000,0,1,1063500,164
2243,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2244,2,-141,1,8,CAD8E276F1B5D2F5,1064000,0,1,1063500,164
2245,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2246,3,-1,1,8,4448677231EE154E,1064000,0,1,1063500,164
2247,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2248,4,-1,1,8,E217E67EF6ACDAEC,1064000,0,1,1063500,164
2249,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2250,5,-5,1,8,E483EA66F071CFB1,1064000,0,1,1063500,164
2251,2015/7/31,CNQ15,2015-07-31D08:59:57.893459500,2252,6,-6,1,8,F2A776BF965F7B5F,1064000,0,1,1063500,164
2346,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2347,1,-10,1,8,E0CCC63E0638E539,1063500,0,1,1063250,164
2348,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2349,2,-141,1,8,CAD8E276F1B5D2F5,1063500,0,1,1063250,164
2350,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2351,3,-1,1,8,4448677231EE154E,1063500,0,1,1063250,164
2352,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2353,4,-1,1,8,E217E67EF6ACDAEC,1063500,0,1,1063250,164
2354,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2355,5,-5,1,8,E483EA66F071CFB1,1063500,0,1,1063250,164
2356,2015/7/31,CNQ15,2015-07-31D08:59:59.650449000,2357,6,-6,1,8,F2A776BF965F7B5F,1063500,0,1,1063250,164
2452,2015/7/31,CNQ15,2015-07-31D08:59:59.860441500,2453,1,-10,1,8,E0CCC63E0638E539,1063250,0,1,1063000,164
2454,2015/7/31,CNQ15,2015-07-31D08:59:59.860441500,2455,2,-141,1,8,CAD8E276F1B5D2F5,1063250,0,1,1063000,164
2456,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2457,3,-1,1,8,4448677231EE154E,1063250,0,1,1063000,164
2458,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2459,4,-1,1,8,E217E67EF6ACDAEC,1063250,0,1,1063000,164
2460,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2461,5,-5,1,8,E483EA66F071CFB1,1063250,0,1,1063000,164
2462,2015/7/31,CNQ15,2015-07-31D08:59:59.861441500,2463,6,-6,1,8,F2A776BF965F7B5F,1063250,0,1,1063000,164
2559,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2560,1,-10,1,8,E0CCC63E0638E539,1063000,0,1,1062750,170
2561,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2562,2,-141,1,8,CAD8E276F1B5D2F5,1063000,0,1,1062750,170
2563,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2564,3,-1,1,8,4448677231EE154E,1063000,0,1,1062750,170
2565,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2566,4,-1,1,8,E217E67EF6ACDAEC,1063000,0,1,1062750,170
2567,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2568,5,-5,1,8,E483EA66F071CFB1,1063000,0,1,1062750,170
2569,2015/7/31,CNQ15,2015-07-31D09:00:00.016441500,2570,6,-6,1,8,F2A776BF965F7B5F,1063000,0,1,1062750,170

In [58]:
data_bid[(data_bid.change_reason == 5) & (data_bid.ob_command == 2)]

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
7668,2015/7/31,CNQ15,2015-07-31D09:04:01.814272500,7669,14,-2,2,5,D0B856AB98B67D76,1066750,4,1,1067250,2
7709,2015/7/31,CNQ15,2015-07-31D09:04:02.972263500,7710,15,-8,2,5,583056ABFF34E3F4,1066750,4,1,1067000,6
7714,2015/7/31,CNQ15,2015-07-31D09:04:03.497254500,7715,12,-1,2,5,5038D6A33D1221D2,1066750,2,1,1067000,5
7780,2015/7/31,CNQ15,2015-07-31D09:04:05.458236500,7781,2,-3,2,5,D0B856AB98B67D76,1066750,1,1,1066750,5
7802,2015/7/31,CNQ15,2015-07-31D09:04:05.928236500,7803,1,-2,2,5,583056ABFF34E3F4,1067000,1,1,1067000,4
7816,2015/7/31,CNQ15,2015-07-31D09:04:06.533227500,7817,3,-1,2,5,50B0D6AB27270BE7,1067000,1,1,1067000,3
8089,2015/7/31,CNQ15,2015-07-31D09:04:11.470182500,8090,1,-3,2,5,D8385EAB2B5B101B,1067750,4,1,1067750,4
8097,2015/7/31,CNQ15,2015-07-31D09:04:11.859182500,8098,1,-3,2,5,D8385EAB2B5B101B,1067750,1,1,1067750,1
8112,2015/7/31,CNQ15,2015-07-31D09:04:12.357173500,8113,14,-1,2,5,58B05EAB03ABE86C,1067250,2,1,1067750,4
8127,2015/7/31,CNQ15,2015-07-31D09:04:14.252155500,8128,16,-1,2,5,58B05EAB03ABE86C,1067250,1,1,1067750,8
8877,2015/7/31,CNQ15,2015-07-31D09:05:24.579525500,8878,4,-1,2,5,F820DAA3F784DC44,1067750,5,1,1068000,4
8899,2015/7/31,CNQ15,2015-07-31D09:05:29.508480500,8900,10,-1,2,5,70A056A3F5E1DAA1,1067500,1,1,1068250,8
9177,2015/7/31,CNQ15,2015-07-31D09:06:09.814120500,9178,2,-1,2,5,7828D6A33D1D21DD,1066750,1,1,1066750,2
9502,2015/7/31,CNQ15,2015-07-31D09:06:36.636877500,9503,6,-5,2,5,7020DEABB9B09E70,1067500,1,1,1067750,30
9736,2015/7/31,CNQ15,2015-07-31D09:07:06.732607500,9737,11,-3,2,5,F0385AAB51EC36AC,1067500,3,1,1067750,36
9737,2015/7/31,CNQ15,2015-07-31D09:07:07.210607500,9738,11,-1,2,5,F0385AAB51EC36AC,1067500,2,1,1067750,36
9738,2015/7/31,CNQ15,2015-07-31D09:07:07.224607500,9739,6,-1,2,5,F030DAA35EEF43AF,1067750,3,1,1067750,35
9876,2015/7/31,CNQ15,2015-07-31D09:07:22.033472500,9877,5,-1,2,5,7830DAA3385D1D1D,1066750,2,1,1067000,10
10324,2015/7/31,CNQ15,2015-07-31D09:08:15.034995500,10325,2,-1,2,5,78B0D6A3743758F7,1067250,1,1,1067250,2
10412,2015/7/31,CNQ15,2015-07-31D09:08:36.116806100,10413,3,-1,2,5,78305EABA75D8C1D,1066750,1,1,1066750,12
10426,2015/7/31,CNQ15,2015-07-31D09:08:42.400752100,10427,10,-1,2,5,78B05EABF664DB24,1066500,1,1,1066750,2
10625,2015/7/31,CNQ15,2015-07-31D09:09:20.400410100,10626,3,-1,2,5,5060D2ABA80E8CCE,1066750,3,1,1066750,7
10820,2015/7/31,CNQ15,2015-07-31D09:10:05.682005100,10821,14,-1,2,5,50E0D2ABB5559A15,1067250,2,1,1067500,9
10855,2015/7/31,CNQ15,2015-07-31D09:10:12.587942100,10856,12,-16,2,5,D8E05AAB3E492309,1067250,4,1,1067500,21
10864,2015/7/31,CNQ15,2015-07-31D09:10:15.385915100,10865,10,-2,2,5,D8E05AAB3E492309,1067250,2,1,1067500,17
10871,2015/7/31,CNQ15,2015-07-31D09:10:15.823915100,10872,1,-1,2,5,D8E0DAA372445704,1067500,10,1,1067500,11
10875,2015/7/31,CNQ15,2015-07-31D09:10:16.858906100,10876,12,-1,2,5,D8E8DAAB59483E08,1067250,1,1,1067500,6
10925,2015/7/31,CNQ15,2015-07-31D09:10:19.176879100,10926,2,-1,2,5,D8E05AAB3E492309,1067250,1,1,1067250,4
11002,2015/7/31,CNQ15,2015-07-31D09:10:21.928858600,11003,3,-2,2,5,D0E056ABCF97B457,1066750,1,1,1066750,4
11060,2015/7/31,CNQ15,2015-07-31D09:10:23.417843100,11061,11,-1,2,5,D060D6A3684C4D0C,1066500,6,1,1066750,3
11087,2015/7/31,CNQ15,2015-07-31D09:10:25.093825100,11088,12,-1,2,5,5060D6AB9B828042,1066250,4,1,1066500,25
11218,2015/7/31,CNQ15,2015-07-31D09:10:48.841618100,11219,8,-1,2,5,D060D6A3684C4D0C,1067250,5,1,1067500,12
11262,2015/7/31,CNQ15,2015-07-31D09:11:09.855429100,11263,2,-1,2,5,D060D6A3684C4D0C,1067250,4,1,1067250,9
11291,2015/7/31,CNQ15,2015-07-31D09:11:32.173222100,11292,10,-1,2,5,5060DEAB94D87998,1067000,1,1,1067250,4
11494,2015/7/31,CNQ15,2015-07-31D09:12:01.319961100,11495,6,-5,2,5,5868DEA375B15A71,1067500,6,1,1067750,12
11502,2015/7/31,CNQ15,2015-07-31D09:12:01.669961100,11503,6,-1,2,5,5868DEA375B15A71,1067500,5,1,1067750,12
11549,2015/7/31,CNQ15,2015-07-31D09:12:22.009781100,11550,1,-2,2,5,5868DEA375B15A71,1067500,3,1,1067500,3
12311,2015/7/31,CNQ15,2015-07-31D09:13:29.595169100,12312,8,-1,2,5,D8F0DAAB69374DF7,1069000,5,1,1069250,7
12346,2015/7/31,CNQ15,2015-07-31D09:13:38.618088100,12347,7,-4,2,5,D8F0DAAB69374DF7,1069000,1,1,1069250,19
12353,2015/7/31,CNQ15,2015-07-31D09:13:38.658088100,12354,5,-1,2,5,58F0DAA3E7E6CCA6,1069000,6,1,1069250,20
12354,2015/7/31,CNQ15,2015-07-31D09:13:38.673088100,12355,2,-5,2,5,D07856A32C3410F4,1069250,5,1,1069250,15
12409,2015/7/31,CNQ15,2015-07-31D09:13:43.199052100,12410,5,-1,2,5,58F0DAA3E7E6CCA6,1069000,5,1,1069250,4
13043,2015/7/31,CNQ15,2015-07-31D09:14:35.144584100,13044,4,-2,2,5,D070DEA31ED90399,1068000,5,1,1068000,11
13110,2015/7/31,CNQ15,2015-07-31D09:14:38.121557100,13111,1,-1,2,5,D070DEABA42C88EC,1068000,3,1,1068000,4
13241,2015/7/31,CNQ15,2015-07-31D09:14:50.048449100,13242,5,-5,2,5,D8785EABC59FAA5F,1067500,4,1,1067750,21
13296,2015/7/31,CNQ15,2015-07-31D09:14:54.502407800,13297,2,-1,2,5,D8785EABC59FAA5F,1067500,3,1,1067500,11
13317,2015/7/31,CNQ15,2015-07-31D09:14:57.870377100,13318,5,-1,2,5,D8785EABC59FAA5F,1067500,2,1,1067750,4
13344,2015/7/31,CNQ15,2015-07-31D09:14:59.347368100,13345,3,-1,2,5,D8785EABC59FAA5F,1067500,1,1,1067750,3
13601,2015/7/31,CNQ15,2015-07-31D09:15:01.010350100,13602,2,-1,2,5,F0E0D2A3A9408E00,1066750,1,1,1066750,10
13676,2015/7/31,CNQ15,2015-07-31D09:15:01.811341100,13677,1,-1,2,5,F060D2A3BF2DA3ED,1066500,3,1,1066500,6

In [46]:
data_bid[['timestamp','ob_position','price','bestprice','bestsize']].head()

                       timestamp  ob_position    price  bestprice  bestsize
0  2015-07-31D04:27:48.997487100            1   988500    1041500         1
2  2015-07-31D04:27:48.997487100            2   979000    1041500         1
3  2015-07-31D04:27:48.998487100            3   950000    1041500         1
4  2015-07-31D04:27:48.998487100            1  1041500    1041500         1
5  2015-07-31D04:27:48.998487100            2  1008000    1041500         1

In [47]:
data_bid[0:10]

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
0,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,1,1,5,0,30,72D0F3B75B454045,988500,5,1,1041500,1
2,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,3,2,1,0,30,DC6ADEBB6E535353,979000,1,1,1041500,1
3,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,4,3,2,0,30,4005CE3E43912211,950000,2,1,1041500,1
4,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,5,1,1,0,30,FE457FBF87856C85,1041500,1,1,1041500,1
5,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,6,2,2,0,30,E33BA3AF1965F906,1008000,2,1,1041500,1
6,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,7,5,1,0,30,54F252BB0DE2F2E3,969250,1,1,1041500,1
7,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,8,7,1,0,30,D472DABB94327932,949000,1,1,1041500,1
8,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,9,8,1,0,30,54FADAB3464C2B4C,948750,1,1,1041500,1
9,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,10,2,1,0,30,4D602BF798E67886,1020000,1,1,1041500,1
13,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,14,5,5,0,30,6AD3CB22C767AAC7,981750,5,1,1041500,1

In [48]:
data_bid[0:10].sort(['price'],ascending = [False])

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
4,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,5,1,1,0,30,FE457FBF87856C85,1041500,1,1,1041500,1
9,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,10,2,1,0,30,4D602BF798E67886,1020000,1,1,1041500,1
5,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,6,2,2,0,30,E33BA3AF1965F906,1008000,2,1,1041500,1
0,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,1,1,5,0,30,72D0F3B75B454045,988500,5,1,1041500,1
13,2015/7/31,CNQ15,2015-07-31D04:27:49.003487100,14,5,5,0,30,6AD3CB22C767AAC7,981750,5,1,1041500,1
2,2015/7/31,CNQ15,2015-07-31D04:27:48.997487100,3,2,1,0,30,DC6ADEBB6E535353,979000,1,1,1041500,1
6,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,7,5,1,0,30,54F252BB0DE2F2E3,969250,1,1,1041500,1
3,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,4,3,2,0,30,4005CE3E43912211,950000,2,1,1041500,1
7,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,8,7,1,0,30,D472DABB94327932,949000,1,1,1041500,1
8,2015/7/31,CNQ15,2015-07-31D04:27:48.998487100,9,8,1,0,30,54FADAB3464C2B4C,948750,1,1,1041500,1

In [49]:
data_bid.values[100][2][11:16] == '04:27'

False

In [50]:
data_bid[1:2][['timestamp']]#[11:16] == '04:27'

                       timestamp
2  2015-07-31D04:27:48.997487100

In [51]:
b = []
b1 = []
b2 = []
data_bid1 = []
for k in range(0,3,1):#len(data_bid)):
    if data_bid.values[k][2][11:16] == '04:27':
        data_bid1.append
        
        for i in range(48,50,1):
            a = "04:27:" + str(i)
            b.append(data_bid[data_bid['timestamp'].str.contains(a)])
            b1.append(b[i-48][['price','mp_quantity']].sort(['price'],ascending = [False]))
            b2.append(b1[i-48].groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:12: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [68]:
b2[1]

      price  mp_quantity
13  1045750            1
12  1035500            1
11  1030000            1
10  1015000            4
9   1010000            4
8   1008000            2
7   1000000           76
6    999500            3
5    999000            1
4    998500            2
3    981750            5
2    949500            1
1    949000            1
0    948750            1

In [53]:
a

'04:27:49'

In [62]:
b[0][['quantity_difference','price','mp_quantity']].sort(['price'],ascending = [False])

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

   quantity_difference    price  mp_quantity
4                    1  1041500            1
9                    1  1020000            1
5                    2  1008000            2
0                    5   988500            5
2                    1   979000            1
6                    1   969250            1
3                    2   950000            2
7                    1   949000            1
8                    1   948750            1

In [63]:
b[1][['quantity_difference','price','mp_quantity']].sort(['price'],ascending = [False])

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

    quantity_difference    price  mp_quantity
28                    1  1045750            1
17                    1  1035500            1
22                    1  1030000            1
35                    2  1015000            2
31                    2  1015000            2
15                    2  1010000            2
25                    2  1010000            2
24                    2  1008000            2
26                   75  1000000           75
18                    1  1000000            1
34                    1   999500            1
41                    1   999500            1
20                    1   999500            1
27                    1   999000            1
30                    1   998500            1
19                    1   998500            1
13                    5   981750            5
29                    1   949500            1
40                    1   949000            1
14                    1   948750            1

In [95]:
data_bid[['quantity_difference','ob_position','price','mp_quantity','ob_command','change_reason','order_number']].head(50)

,quantity_difference,ob_position,price,mp_quantity,ob_command,change_reason,order_number
0,5,1,988500,5,0,30,72D0F3B75B454045
2,1,2,979000,1,0,30,DC6ADEBB6E535353
3,2,3,950000,2,0,30,4005CE3E43912211
4,1,1,1041500,1,0,30,FE457FBF87856C85
5,2,2,1008000,2,0,30,E33BA3AF1965F906
6,1,5,969250,1,0,30,54F252BB0DE2F2E3
7,1,7,949000,1,0,30,D472DABB94327932
8,1,8,948750,1,0,30,54FADAB3464C2B4C
9,1,2,1020000,1,0,30,4D602BF798E67886
13,5,5,981750,5,0,30,6AD3CB22C767AAC7
14,1,10,948750,1,0,30,54F25AB3D5A1BAA1
15,2,3,1010000,2,0,30,EBABAFAF23740314
17,1,2,1035500,1,0,30,722AF2AF74DE59DE
18,1,6,1000000,1,0,30,7282FFEF7F4C640C
19,1,7,998500,1,0,30,52A156BF98DA7DDA
20,1,7,999500,1,0,30,DA29D2BFA32B882B
22,1,3,1030000,1,0,30,76E6F6F3B9D69ED6
24,2,6,1008000,2,0,30,E33BA3A718D0F871
25,2,5,1010000,2,0,30,E3232FA7E50CC4AC
26,75,9,1000000,75,0,30,A0183DD3BD8EA28E
27,1,12,999000,1,0,30,DAA1DABF71EE56EE
28,1,1,1045750,1,0,30,70E05AE71BEA00EA
29,1,20,949500,1,0,30,DCFA52B340A425A4
30,1,15,998500,1,0,30,D2A9D6BFB0349534
31,2,6,1015000,2,0,30,633327AFA5A08540
34,1,13,999500,1,0,30,54EADEB3C576AA76
35,2,7,1015000,2,0,30,633B27AFE323C2C3
40,1,25,949000,1,0,30,5C72D2BBCEEBB3EB
41,1,16,999500,1,0,30,D221DABF510C360C
43,-1,1,1045750,0,1,8,70E05AE71BEA00EA
44,1,1,1043500,1,0,8,70E05AE71BEA00EA
47,1,5,1027250,1,0,6,EA88632A112CF44D
48,1,4,1034250,1,0,6,621762763E392279
50,-1,1,1043500,0,1,8,70E05AE71BEA00EA
51,1,1,1038500,1,0,8,70E05AE71BEA00EA
52,-1,2,1041500,0,1,8,FE457FBF87856C85
53,1,2,1038500,1,0,8,FE457FBF87856C85
59,1,23,987500,1,0,6,EA00E32297197A39
61,228,10,1013000,228,0,6,56FBF2BFF559DA59
65,1,1,1038500,1,0,6,6A08E322D4EFB80F
66,-1,1,1038500,0,1,8,6A08E322D4EFB80F
67,1,1,1043500,1,0,6,6A08E322D4EFB80F
68,-1,2,1038500,0,1,8,70E05AE71BEA00EA
69,1,2,1043500,1,0,8,70E05AE71BEA00EA
70,-1,3,1038500,0,1,8,FE457FBF87856C85
71,1,3,1041500,1,0,8,FE457FBF87856C85
78,1,4,1041250,1,0,6,621F62768E5B729B
79,1,1,1043500,1,0,6,EA08E322DAD0BDF0
80,-1,1,1043500,0,1,8,EA08E322DAD0BDF0
81,1,1,1047000,1,0,6,EA08E322DAD0BDF0

In [69]:
b = []
b1 = []
b2 = []
for i in range(48,50,1):
    a = "04:27:" + str(i)
    b.append(data_bid[data_bid['timestamp'].str.contains(a)])
    b1.append(b[i-48][['price','mp_quantity']].sort(['price'],ascending = [False]))
    b2.append(b1[i-48].groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
    #把同價位的單量加起來

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:7: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [99]:
pd.concat([b2[0],b2[1]]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False])

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

      price  mp_quantity
19  1045750            1
18  1041500            1
17  1035500            1
16  1030000            1
15  1020000            1
14  1015000            4
13  1010000            4
12  1008000            4
11  1000000           76
10   999500            3
9    999000            1
8    998500            2
7    988500            5
6    981750            5
5    979000            1
4    969250            1
3    950000            2
2    949500            1
1    949000            2
0    948750            2

In [117]:
b = []
b1 = []
b2 = []
bid = []
for i in range(48,50,1):
    a = "04:27:" + str(i)
    b.append(data_bid[data_bid['timestamp'].str.contains(a)])
    b1.append(b[i-48][['price','quantity_difference']].sort(['price'],ascending = [False]))
    b2.append(b1[i-48].groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
bid.append(pd.concat([b2[0],b2[1]]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:9: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [115]:
a = []
a1 = []
a2 = []
ask = []
for i in range(48,50,1):
    b = "04:27:" + str(i)
    a.append(data_ask[data_ask['timestamp'].str.contains(b)])
    a1.append(a[i-48][['price','quantity_difference']].sort(['price'],ascending = [True]))
    a2.append(a1[i-48].groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
ask.append(pd.concat([a2[0],a2[1]]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:9: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [116]:
ask[0]

      price  quantity_difference
11  1150000                    1
10  1142000                  266
9   1135000                    1
8   1130000                    1
7   1125000                    2
6   1122000                    5
5   1115000                    3
4   1109000                    1
3   1100000                    1
2   1095250                    1
1   1095000                   11
0   1090000                    5

In [114]:
data_ask[['quantity_difference','ob_position','price','mp_quantity','ob_command','change_reason','order_number','bestprice']].head(20)

,quantity_difference,ob_position,price,mp_quantity,ob_command,change_reason,order_number,bestprice
1,266,1,1142000,266,0,30,C8946636EB1CCE9C,1115000
10,3,1,1115000,3,0,30,6E1E427E71C550A5,1115000
11,2,2,1125000,2,0,30,4E4E427E47AB268B,1095000
12,1,1,1100000,1,0,30,C560ABFF918C712C,1095000
16,5,3,1122000,5,0,30,6ECEE6665AE33A83,1095000
21,10,1,1095000,10,0,30,78B85AF74BAA30AA,1095000
23,1,7,1150000,1,0,30,D8B2D6FB2CFD11FD,1095000
32,1,3,1109000,1,0,30,D66756AFBCC5A1C5,1095000
33,1,7,1135000,1,0,30,762152A7A7478C47,1095000
36,1,2,1095000,1,0,30,D21AFFF792F47514,1090000
37,5,1,1090000,5,0,30,EECE666EBC899C29,1090000
38,1,4,1095250,1,0,30,D479FEBF20CB05CB,1090000
39,1,10,1130000,1,0,30,D8B256FB4B8E308E,1090000
42,1,1,0,1,0,6,CC98E32ADCBBB95B,1043500
45,-1,1,0,0,1,8,CC98E32ADCBBB95B,1043500
46,1,1,1043500,1,0,6,CC98E32ADCBBB95B,1043500
49,1,2,1043500,1,0,6,44106B2288716511,1038500
54,-1,1,1043500,0,1,8,CC98E32ADCBBB95B,1038500
55,1,1,1038500,1,0,8,CC98E32ADCBBB95B,1038500
56,-1,2,1043500,0,1,8,44106B2288716511,1038500

In [203]:
b = []
b1 = []
b2 = []
bid = []
for i in range(48,50,1):
    a = "04:27:" + str(i)
    b.append(data_bid[data_bid['timestamp'].str.contains(a)])
    b1.append(b[i-48][['price','quantity_difference']].sort(['price'],ascending = [False]))
    b2.append(b1[i-48].groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
bid.append(pd.concat([b2[0],b2[1]]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
bb = []
bb1 = []
bb2 = []
for i in range(0,1,1):
    for j in range(0,2,1):
        #print j
        a = "08:45:" + str(i) + str(j)
        bb.append(data_bid[data_bid['timestamp'].str.contains(a)])
        bb1.append(bb[i][['price','quantity_difference']].sort(['price'],ascending = [False]))
        bb2.append(bb1[i].groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
        bid.append(pd.concat([bid[i],bb2[i]]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))

#bb[1] 
#bid[2][bid[2].quantity_difference != 0]

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:9: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:19: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:20: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:21: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [205]:
bid[2][bid[2].quantity_difference != 0]

      price  quantity_difference
28  1033500                   20
27  1033000                    1
26  1030000                    1
25  1027250                    1
24  1025000                    3
23  1020000                    1
22  1015000                    4
21  1013000                  228
20  1012750                  228
19  1012500                  228
18  1012250                  228
17  1012000                  228
16  1010000                    4
15  1008000                    4
14  1000000                   76
13   999500                    3
12   999000                    1
11   998500                    2
10   990000                    2
9    988500                    5
8    987500                    1
7    981750                    5
6    979000                    1
5    969250                    1
4    950000                    2
3    949500                    1
2    949000                    2
1    948750                    2
0    947500                    1

In [196]:
#pd.concat(bb[1][['price','quantity_difference']].sort(['price'],ascending = [False]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]),bid[1])
q = bb[1][['price','quantity_difference']].sort(['price'],ascending = [False]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False])
q1 = pd.concat([q,bid[1]])
q1[q1.quantity_difference != 0]

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

      price  quantity_difference
21  1040000                   27
20  1038250                    1
19  1038000                    3
17  1035500                    1
14  1034250                    1
12  1033500                  -20
11  1025000                    6
10  1017250                   20
9   1011750                  228
8   1011500                  228
7   1011250                  228
6   1011000                  228
5   1010750                  228
4   1007750                   20
3   1002250                    1
2   1000750                   20
1   1000000                    5
0    982250                    2
28  1033500                   20
27  1033000                    1
26  1030000                    1
25  1027250                    1
24  1025000                    3
23  1020000                    1
22  1015000                    4
21  1013000                  228
20  1012750                  228
19  1012500                  228
18  1012250                  228
17  1012000                  228
16  1010000                    4
15  1008000                    4
14  1000000                   76
13   999500                    3
12   999000                    1
11   998500                    2
10   990000                    2
9    988500                    5
8    987500                    1
7    981750                    5
6    979000                    1
5    969250                    1
4    950000                    2
3    949500                    1
2    949000                    2
1    948750                    2
0    947500                    1

In [153]:
bid.append(pd.concat([bid[0],bb2[0]]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [158]:
bid[1][bid[1].quantity_difference != 0]

      price  quantity_difference
28  1033500                   20
27  1033000                    1
26  1030000                    1
25  1027250                    1
24  1025000                    3
23  1020000                    1
22  1015000                    4
21  1013000                  228
20  1012750                  228
19  1012500                  228
18  1012250                  228
17  1012000                  228
16  1010000                    4
15  1008000                    4
14  1000000                   76
13   999500                    3
12   999000                    1
11   998500                    2
10   990000                    2
9    988500                    5
8    987500                    1
7    981750                    5
6    979000                    1
5    969250                    1
4    950000                    2
3    949500                    1
2    949000                    2
1    948750                    2
0    947500                    1

In [245]:
#data_bid[data_bid['timestamp'].str.contains("04:27:49")]#"08:45:00")]
data_bid[data_bid['timestamp'].str.contains("08:45:08")]

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
1348,2015/7/31,CNQ15,2015-07-31D08:45:08.662451900,1349,23,99,0,6,F28FFBAFFDCBDFEB,1040500,99,1,1055000,36

In [306]:
data_bid[535:580]

,date,series,timestamp,sequence_number,ob_position,quantity_difference,ob_command,change_reason,order_number,price,mp_quantity,bid_or_ask,bestprice,bestsize
1288,2015/7/31,CNQ15,2015-07-31D08:45:07.212460900,1289,2,-1,1,8,E217E67EF6ACDAEC,1053500,0,1,1055000,36
1289,2015/7/31,CNQ15,2015-07-31D08:45:07.212460900,1290,2,1,0,8,E217E67EF6ACDAEC,1055000,1,1,1055000,36
1290,2015/7/31,CNQ15,2015-07-31D08:45:07.212460900,1291,3,-3,1,8,629F6276A44F888F,1053500,0,1,1055000,36
1291,2015/7/31,CNQ15,2015-07-31D08:45:07.212460900,1292,3,3,0,8,629F6276A44F888F,1055000,3,1,1055000,36
1292,2015/7/31,CNQ15,2015-07-31D08:45:07.212460900,1293,4,-1,1,8,EA08E322DAD0BDF0,1053500,0,1,1055000,36
1293,2015/7/31,CNQ15,2015-07-31D08:45:07.212460900,1294,4,1,0,8,EA08E322DAD0BDF0,1055000,1,1,1055000,36
1294,2015/7/31,CNQ15,2015-07-31D08:45:07.212460900,1295,5,-30,1,8,D4AB7AEFB1F396F3,1053500,0,1,1055000,36
1295,2015/7/31,CNQ15,2015-07-31D08:45:07.212460900,1296,5,30,0,6,D4AB7AEFB1F396F3,1055000,30,1,1055000,36
1348,2015/7/31,CNQ15,2015-07-31D08:45:08.662451900,1349,23,99,0,6,F28FFBAFFDCBDFEB,1040500,99,1,1055000,36
1349,2015/7/31,CNQ15,2015-07-31D08:45:11.050424900,1350,27,2,0,6,5C5773A7869268B2,1040000,2,1,1055000,36
1350,2015/7/31,CNQ15,2015-07-31D08:45:11.056424900,1351,44,3,0,6,5CD773A72A510C71,1020000,3,1,1055000,36
1351,2015/7/31,CNQ15,2015-07-31D08:45:11.062424900,1352,100,5,0,6,DC5773A783BE65DE,980000,5,1,1055000,36
1355,2015/7/31,CNQ15,2015-07-31D08:45:11.141424900,1356,86,5,0,6,DCDF73A7BB8E9DAE,1000000,5,1,1055000,36
1357,2015/7/31,CNQ15,2015-07-31D08:45:17.586370900,1358,72,99,0,6,7A8F7BA716B4F8D5,1001250,99,1,1055000,36
1358,2015/7/31,CNQ15,2015-07-31D08:45:26.671289900,1359,28,50,0,6,52537FFF463A2AFA,1040000,50,1,1055000,36
1359,2015/7/31,CNQ15,2015-07-31D08:45:30.010253900,1360,104,1,0,6,4486622ED586B466,980000,1,1,1055000,36
1360,2015/7/31,CNQ15,2015-07-31D08:45:30.164253900,1361,39,25,0,6,EC4F4636286F07CF,1027000,25,1,1055000,36
1362,2015/7/31,CNQ15,2015-07-31D08:45:30.329253900,1363,7,1,0,6,D2537FFF43832843,1052500,1,1,1055000,36
1363,2015/7/31,CNQ15,2015-07-31D08:45:31.170244900,1364,45,25,0,6,ECC7463EF3BCD31C,1021250,25,1,1055000,36
1364,2015/7/31,CNQ15,2015-07-31D08:45:31.177244900,1365,34,25,0,6,6CCF463EFA3ED99E,1035500,25,1,1055000,36
1365,2015/7/31,CNQ15,2015-07-31D08:45:31.180244900,1366,52,25,0,6,EC4F463E57B13711,1015500,25,1,1055000,36
1366,2015/7/31,CNQ15,2015-07-31D08:45:32.522235900,1367,39,50,0,6,D2D37FFF43402800,1030000,50,1,1055000,36
1367,2015/7/31,CNQ15,2015-07-31D08:45:33.515226900,1368,6,7,0,6,565FF3E77ACE5F8E,1054000,7,1,1055000,36
1369,2015/7/31,CNQ15,2015-07-31D08:45:37.491190900,1370,52,50,0,6,52DB7FFF39BE1E7E,1020000,50,1,1055000,36
1370,2015/7/31,CNQ15,2015-07-31D08:45:43.351136900,1371,4,1,0,6,4ACF627E548538C5,1055000,1,1,1055000,37
1371,2015/7/31,CNQ15,2015-07-31D08:45:44.035127900,1372,77,1,0,6,525BFFF71DC10281,1009000,1,1,1055000,37
1372,2015/7/31,CNQ15,2015-07-31D08:45:44.524127900,1373,21,3,0,6,56DFF3EF25BC0A7C,1044000,3,1,1055000,37
1373,2015/7/31,CNQ15,2015-07-31D08:45:44.542127900,1374,9,-1,1,1,D2537FFF43832843,1052500,0,1,1055000,37
1375,2015/7/31,CNQ15,2015-07-31D08:45:52.315055900,1376,32,10,0,6,C248E2761EB7FFF8,1040000,10,1,1055000,37
1377,2015/7/31,CNQ15,2015-07-31D08:45:55.197028900,1378,55,3,0,6,5EDF73E7D25AB71A,1018000,3,1,1055000,37
1379,2015/7/31,CNQ15,2015-07-31D08:45:59.469992900,1380,7,1,0,6,DA537FF726E00BA0,1054750,1,1,1055000,37
1381,2015/7/31,CNQ15,2015-07-31D08:46:03.204956900,1382,56,10,0,6,C248E27E7F6260A2,1020000,10,1,1055000,37
1383,2015/7/31,CNQ15,2015-07-31D08:46:15.475848900,1384,103,10,0,6,CA406276279908D9,1000000,10,1,1055000,37
1384,2015/7/31,CNQ15,2015-07-31D08:46:15.900848900,1385,110,3,0,6,5EDFF3E7EB82D042,996000,3,1,1055000,37
1387,2015/7/31,CNQ15,2015-07-31D08:46:35.466668900,1388,7,1,0,6,CA40627E418F22CF,1055000,1,1,1055000,38
1389,2015/7/31,CNQ15,2015-07-31D08:46:42.940605900,1390,7,-1,1,1,CA40627E418F22CF,1055000,0,1,1055000,37
1391,2015/7/31,CNQ15,2015-07-31D08:46:50.160533900,1392,34,10,0,6,D65F7BEF88A46D64,1040000,10,1,1055000,37
1393,2015/7/31,CNQ15,2015-07-31D08:47:15.203308900,1394,4,-1,1,1,4ACF627E548538C5,1055000,0,1,1055000,36
1394,2015/7/31,CNQ15,2015-07-31D08:47:18.115290700,1395,60,1,0,6,7457F3FFBE57A0D7,1015750,1,1,1055000,36
1395,2015/7/31,CNQ15,2015-07-31D08:47:22.514245900,1396,11,1,0,6,4898CA7651AE30AE,1050000,1,1,1055000,36
1396,2015/7/31,CNQ15,2015-07-31D08:47:30.044182900,1397,7,35,0,6,F457F3FF07F1EA72,1054750,35,1,1055000,36
1399,2015/7/31,CNQ15,2015-07-31D08:47:44.981047900,1400,10,1,0,6,54DFF7A7ECB5CED5,1050500,1,1,1055000,36
1400,2015/7/31,CNQ15,2015-07-31D08:48:12.587795900,1401,11,1,0,6,42C7667ED312B752,1050250,1,1,1055000,36
1402,2015/7/31,CNQ15,2015-07-31D08:48:18.694741900,1403,3,1,0,6,E2906B221296F5B7,1055000,1,1,1055000,37
1403,2015/7/31,CNQ15,2015-07-31D08:48:18.788741900,1404,128,1,0,6,F20EF3AF60F24352,975000,1,1,1055000,37

In [268]:
b = []
b1 = []
b2 = []
bid = []
for i in range(48,50,1):
    a = "04:27:" + str(i)
    b.append(data_bid[data_bid['timestamp'].str.contains(a)])
    b1.append(b[i-48][['price','quantity_difference']].sort(['price'],ascending = [False]))
    b2.append(b1[i-48].groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
bid.append(pd.concat([b2[0],b2[1]]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
bb = []
bb1 = []
bb2 = []
i=0
j=0
a = "08:45:" + str(i) + str(j)
bb.append(data_bid[data_bid['timestamp'].str.contains(a)])
bb1.append(bb[i][['price','quantity_difference']].sort(['price'],ascending = [False]))
bb2.append(bb1[i].groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
x = pd.concat([bid[i],bb2[i]]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False])
bid.append(x[x.quantity_difference != 0])

bbb = []
bbb1 = []
bbb2 = []
i=0
j=1
a = "08:45:" + str(i) + str(j)
bbb.append(data_bid[data_bid['timestamp'].str.contains(a)])
bbb1.append(bbb[i][['price','quantity_difference']].sort(['price'],ascending = [False]))
bbb2.append(bbb1[i].groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
x = pd.concat([bid[j],bbb2[i]]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False])
bid.append(x[x.quantity_difference != 0])

bbbb = []
bbbb1 = []
bbbb2 = []
i=0
j=2
a = "08:45:" + str(i) + str(j)
bbbb.append(data_bid[data_bid['timestamp'].str.contains(a)])
bbbb1.append(bbbb[i][['price','quantity_difference']].sort(['price'],ascending = [False]))
bbbb2.append(bbbb1[i].groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
x = pd.concat([bid[j],bbbb2[i]]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False])
bid.append(x[x.quantity_difference != 0])

bbbbb = []
bbbbb1 = []
bbbbb2 = []
i=0
j=3
a = "08:45:" + str(i) + str(j)
bbbbb.append(data_bid[data_bid['timestamp'].str.contains(a)])
bbbbb1.append(bbbbb[i][['price','quantity_difference']].sort(['price'],ascending = [False]))
bbbbb2.append(bbbbb1[i].groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
x = pd.concat([bid[j],bbbbb2[i]]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False])
bid.append(x[x.quantity_difference != 0])

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:9: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:18: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:19: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:20: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:30: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:31: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:32: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:42: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:43: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:44: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:54: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:55: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:56: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [269]:
bid[2]

      price  quantity_difference
47  1040000                   27
46  1038250                    1
45  1038000                    3
43  1035500                    1
40  1034250                    1
37  1033000                    1
36  1030000                    1
35  1027250                    1
34  1025000                    9
33  1020000                    1
32  1017250                   20
31  1015000                    4
30  1013000                  228
29  1012750                  228
28  1012500                  228
27  1012250                  228
26  1012000                  228
25  1011750                  228
24  1011500                  228
23  1011250                  228
22  1011000                  228
21  1010750                  228
20  1010000                    4
19  1008000                    4
18  1007750                   20
17  1002250                    1
16  1000750                   20
15  1000000                   81
14   999500                    3
13   999000                    1
12   998500                    2
11   990000                    2
10   988500                    5
9    987500                    1
8    982250                    2
7    981750                    5
6    979000                    1
5    969250                    1
4    950000                    2
3    949500                    1
2    949000                    2
1    948750                    2
0    947500                    1

In [315]:
b = []
b1 = []
b2 = []
bid = []
for i in range(48,50,1):
    a = "04:27:" + str(i)
    b.append(data_bid[data_bid['timestamp'].str.contains(a)])
    b1.append(b[i-48][['price','quantity_difference']].sort(['price'],ascending = [False]))
    b2.append(b1[i-48].groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
bid.append(pd.concat([b2[0],b2[1]]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
bb = []
bb1 = []
bb2 = []
for i in range(0,1,1):
    for j in range(0,43,1):
        a = "08:45:" + str(i) + str(j)
        bb.append(data_bid[data_bid['timestamp'].str.contains(a)])
        bb1.append(bb[j][['price','quantity_difference']].sort(['price'],ascending = [False]))
        bb2.append(bb1[j].groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False]))
        x = pd.concat([bid[j],bb2[j]]).groupby(by=['price'],as_index = False).sum().sort(['price'],ascending = [False])
        bid.append(x[x.quantity_difference != 0])

/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:9: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:18: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:19: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/rory/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:20: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [334]:
bb[40]

Empty DataFrame
Columns: [date, series, timestamp, sequence_number, ob_position, quantity_difference, ob_command, change_reason, order_number, price, mp_quantity, bid_or_ask, bestprice, bestsize]
Index: []